.contenedor_capitulos {
    width: auto;
    height: 600px;
}

.contenedor_capitulos {
    overflow: scroll;
    overflow-x: auto;
    transition: 300ms;
    max-height: 600px;

}

.img-bottom-emision{
    display: inline-block;
    color: #fff;
}
.img-bottom-finalizado{
    color: #fff;
}


/*Scroll*/

.contenedor_capitulos::-webkit-scrollbar-track {
    width: 10px;
    background: #333;
}

.contenedor_capitulos::-webkit-scrollbar {
    width: 7px;
    height: auto;
    background: #ff7d12;
}

.contenedor_capitulos::-webkit-scrollbar-thumb {
    height: auto;
    background: #ff7d12;
}

.contenedor_capitulos::-webkit-scrollbar-thumb:hover {
    background: #c76310;
}

/* Scroll */


.contenedor_capitulos li {
    height: auto;
    width: auto;
}


.contenedor_capitulos li:hover {
    background: #000;
}

.contenedor_capitulos li a strong {
    margin: auto;
    font-size: 12px;
    font-weight: 0;
    color: #fff;
    margin: 10px 15px 10px 0;
}

.contenedor_capitulos li a span {
    color: #fff;
    font-weight: 500;
    font-size: inherit;
}

.contenedor_capitulos li a span img {
    width: 80px;
    height: 50px;
    margin-left: 8px;
}

.contenedor_capitulos li a i {
    color: #fa0;
    margin: 5px;
}


.contenedor_capitulos li a {
    display:block;
    padding:15px;
}


/* Media Query*/

@media screen and (max-width:1920px){

    .contenedor_descripcion{
        margin-left:-60px;
        border: 2px #fa0 solid;
    }

    .contenedor_capitulos li {
        height: auto;
        width: auto;
        border-top: 2px solid #111114;
    }
    p{
        color:#fff;
        background:#111114;
        padding:15px;
        display:inline-block;
    
    }
    .imagenes-capitulos_list{
        float:left;
        position:relative;
        margin-right:10px;
    }
    .text-top{
        padding:15px 0 10px 0;
        display:block;
        height:auto;
        background:transparent;
        margin-bottom:-2px;
        margin-left:-75px;
        border-radius:0px 10px 0 0;
    }
    
    .list-top{
        color:#fff;
        font-size:20px;
        margin-left:15px;
    }
    
    .contenedor_capitulos li:hover {
        background: #ff7d12;
    }
    
    
    .contenedor_capitulos li:first-child {
        border-top:0;
    }
        
    .contenedor_capitulos li a strong {
        margin: auto;
        font-size: 18px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
        margin: 10px 15px 10px 0;
    }
    
    .contenedor_capitulos li a span {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 700;
        font-size: 20px;
        
    }
    
    .contenedor_capitulos li a span img {
        width: 80px;
        height: 50px;
        margin-left: 8px;
    }
    
    .contenedor_capitulos li a i {
        color: rgba(255, 255, 255, 0.7);
        margin: 15px;
        font-size:large;
    }
    
    
    .contenedor_capitulos li a {
        display:block;
        padding:15px;
    }
    
    .contenedor_capitulos {
        overflow: scroll;
        overflow-x: auto;
        transition: 300ms;
        background-color: transparent;
        max-height: 600px;  
        width: auto;
        margin-left:-80px;
    }
    
    body{
        background: #111114;
    }
    
    }
    


@media screen and (max-width:1440px){

.contenedor_capitulos li {
        height: auto;
        width: auto;
        border-top: 2px solid #111114;
    }
p{
        color:#fff;
        margin:0;
    
    }
    
.contenedor_descripcion{
        margin-left:-200px;
        width:1440px;
        height:auto;
        border-top:2px solid #fa0;
        border-bottom:2px solid #fa0;
        border-right:2px solid #fa0;
        
}
.text-top{
        padding:0;
        display:block;
        height:auto;
        background:transparent;
        margin-bottom:-2px;
        margin-left:-200px;
        border-radius:0px 10px 0 0;
    }
    
.list-top{
        color:#fff;
        font-size:25px;
        margin-left:15px;
    }
    
.contenedor_capitulos li:hover {
        background: #ff7d12;
        
}


.contenedor_capitulos li:first-child {
    border-top:0;
}
    
.contenedor_capitulos li a strong {
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    margin: 10px 15px 10px 0;
}

.contenedor_capitulos li a span {
    color: rgba(255, 255, 255, 0.7);
    font-weight:700;
    font-size: 20px;
    
}

.contenedor_capitulos li a span img {
    width: 80px;
    height: 50px;
    margin-left: 8px;
}

.contenedor_capitulos li a i {
    color: rgba(255, 255, 255, 0.7);
    margin: 15px;
    font-size:large;
}


.contenedor_capitulos li a {
    display:block;
    padding:15px;
}

.contenedor_capitulos {
    overflow: scroll;
    overflow-x: auto;
    transition: 300ms;
    max-height: 600px;  
    width: 1440px;
    margin-left:-200px;
}
    body{
        background:#111114;
    }

aside{
    display:none;
}


}

@media screen and (max-width:1024px){

p{
    color:#fff;
    margin:0;

}

.contenedor_descripcion{
    margin-left:-78px;
    border-top:1px solid #fa0;
    border-bottom:1px solid #fa0;
    border-right:1px solid #fa0;
    
}
.text-top{
    padding:15px 0 10px 0;
    display:block;
    height:auto;
    background:transparent;
    margin-bottom:-2px;
    margin-left:-80px;
    border-radius:0px 10px 0 0;
}

.list-top{
    color:#c1c1c1;
    font-size:20px;
    margin-left:15px;
}    

.contenedor_capitulos li {
    height: auto;
    width: auto;
    border-top: 2px solid #fa0;
}

.contenedor_capitulos li:hover {
    background: #ca7005;
}

    
.contenedor_capitulos li a strong {
    margin: auto;
    font-size: 12px;
    font-weight: 0;
    color: #c1c1c1;
    margin: 10px 15px 10px 0;
}

.contenedor_capitulos li a span {
    color: #c1c1c1;
    font-weight: 500;
    font-size: inherit;
    
}

.contenedor_capitulos li a span img {
    width: 50px;
    height: 30px;
    margin-left: 8px;
}

.contenedor_capitulos li a i {
    color: #c1c1c1;
    margin: 5px;
}


.contenedor_capitulos li a {
    display:block;
    padding:15px;
}

.contenedor_capitulos {
    overflow: scroll;
    overflow-x: auto;
    transition: 300ms;
    max-height: 600px;  
    background: transparent;
    width: auto;
    margin-left:-78px;
}
.contenedor_capitulos li {
    border-top:2px solid #111114;
}
body{
    background: #111114;
}


}


@media screen and (max-width:768px){


p{
    color:#fff;
    margin-top:25px;
    margin-bottom:25px;
   
    
}


.contenedor_descripcion{
    
    width:772px; 
    border-top:1px solid #fa0;
    margin-left:-67px;
    border-bottom:1px solid #fa0;
    
}
.text-top{
    padding:15px 0 10px 0;
    display:block;
    height:auto;
    background:transparent;
    margin-bottom:-2px;
    margin-left:-80px;
    border-radius:0px 10px 0 0;
}

.list-top{
    color:#fff;
    font-size:20px;
    margin-left:15px;
}

.contenedor_capitulos li:hover {
    background: #000;
}

.contenedor_capitulos li:first-child {
    border-top:none;
}

.contenedor_capitulos li a strong {
    margin: auto;
    font-size: 12px;
    font-weight: 0;
    color: #fff;
    margin: 10px 15px 10px 0;
}

.contenedor_capitulos li a span {
    color: #fff;
    font-weight: 500;
    font-size: inherit;
    
}

.contenedor_capitulos li a span img {
    width: 50px;
    height: 30px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.contenedor_capitulos li a i {
    color: #c1c1c1;
    margin: 5px;
}


.contenedor_capitulos li a {
    display:block;
    padding:15px;
}

.contenedor_capitulos {
    overflow: scroll;
    overflow-x: auto;
    transition: 300ms;
    max-height: 600px;  
    background: #111114;
    width: 769px;
    margin-right:10px;
}

.contenedor_capitulos li {
    border:1px solid #111114;
}

aside{
    display:none;
}
body{
    background: #111114;
}
.anime-temp{
    margin: 0;
}
}

@media screen and (max-width:480px){


    p{
        color:#fff;
        font-size:15px;
        margin:10px 30px 10px 0px;
       
        
    }
    
    .contenedor_descripcion p img{
        width:120px;
        height:150px;
    }
    
    
    .contenedor_descripcion{
        width:auto;  
    }
    .text-top{
        padding:15px 0 10px 0;
        display:block;
        height:auto;
        background:#111114;
        margin-bottom:-2px;
        margin-left:-80px;
        border-radius:0px 10px 0 0;
    }
    
    .list-top{
        color:#fff;
        font-size:20px;
        margin-left:15px;
    }
    
    .contenedor_capitulos li:first-child {
        border-top:none;
    }
    
    .contenedor_capitulos li a strong {
        margin: auto;
        font-size: 12px;
        font-weight: 0;
        color: #fff;
        margin: 10px 15px 10px 0;
    }
    
    .contenedor_capitulos li a span {
        color: #fff;
        font-weight: 500;
        font-size: inherit;
        
    }
    
    .contenedor_capitulos li a span img {
        width: 50px;
        height: 30px;
        margin-left: 8px;
    }
    
    .contenedor_capitulos li a i {
        color: #c1c1c1;
        margin: 5px;
    }
    
    
    .contenedor_capitulos li a {
        display:block;
        padding:15px;
    }
    
    .contenedor_capitulos {
        overflow: scroll;
        overflow-x: auto;
        transition: 300ms;
        max-height: 600px;  
        background:#111114;
        width:495px;
        margin-right:10px;
    }
    
    .contenedor_capitulos li {
        border:1px solid #111114;
        background:#111114;
    }
    
    aside{
        display:none;
    }
    body{
        background:#111114;
    }
    }


@media (max-width:320px){
        .fa-circle-chevron-right{
            display:none;
        }
        .anime-temp{
            font-size:13px;
        }
        
        p{
            color:#fff;
            font-size:13px;
            margin:10px 30px 10px 0px;
           
            
        }
        
        .contenedor_descripcion p img{
            width:120px;
            height:150px;
            margin:10px 10px 20px 90px;
        }
        
        
        .contenedor_descripcion{
            width:auto; 
            border:0;
        }
        .text-top{
            padding:15px 0 10px 0;
            display:block;
            height:auto;
            background:#111114;
            margin-bottom:-2px;
            margin-left:-80px;
            border-radius:0px 10px 0 0;
        }
        
        .list-top{
            color:#fff;
            font-size:16px;
            margin-left:15px;
        }
        
        .contenedor_capitulos li:first-child {
            border-top:none;
        }
        
        .contenedor_capitulos li a strong {
            margin: auto;
            font-size: 10px;
            font-weight: 0;
            color: #fff;
            margin: 10px 15px 10px 0;
        }
        
        .contenedor_capitulos li a span {
            color: #fff;
            font-size: 14px;
            
        }
        
        .contenedor_capitulos li a span img {
          display:none;
        }
        
        .contenedor_capitulos li a i {
            color: #c1c1c1;
            margin: 5px;
        }
        
        
        .contenedor_capitulos li a {
            display:block;
            padding:15px;
        }
        
        .contenedor_capitulos {
            overflow: scroll;
            overflow-x: auto;
            transition: 300ms;
            max-height: 600px;  
            background:#111114;
            width:333px;
            margin-right:10px;
        }
        
        .contenedor_capitulos li {
            border:1px solid #111114;
            background:#111114;
        }
        
        aside{
            display:none;
        }
        }
    