*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: opean sans, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body{
    background: url();
    height: 100%;
    color: #000;
    background:#ccc;
}

a{
    text-decoration: none;
    transition: all .2s linear;
    outline: none;
}

a:hover{
    background: #c47005;
    transition: all 300ms;
}



ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    margin: 0 ;
    padding: 0;
    list-style-type: none;
}

img{
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}



/* navegacion */
.menu-resposive2{
    background-color: #c4c4c4;
    height: 75px;
    width: 400px;
    padding: 20px;
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li:hover, li.active{
    background-color: #ff7c00;
    color: #000;
    transition: .4s;

}





.btn_menu{
    color: #000;
    font-size: 30px;
    z-index: 6;
    
    cursor: pointer;
    display: none;

    
}
.menu_items.show{
    top: 0px;
}

@media screen and (max-width:1030px){
    .menu_items  li a{
        font-weight: 900;
        padding: 30px;
        font-size: 40px;
    }
}

@media screen and (max-width:1030px){
    .login-button{
        display: none;
    }
    .menu-navigation{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        display: none;
    }
    .btn_menu{
        color: #000;
        display: inline-block;
    }
    .menu_items{
        position:absolute;
        z-index: 6;
        width: 100%;
        height:calc(400px - 65px);
        background: #fa0;
        top: -100%;
        margin-top: 40px;
        text-align: center;
        align-items: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a:hover{
        color: #000;
        background: #c47005;
        font-weight: bold;
    }
}
@media screen and (max-width:858px) and (orientation:landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100%-65px);
    }
}

@media (min-width:100vh){
    .menu_items{
        display: none;
        opacity: 0;
    }
}
@media screen and (max-width:1440px){
    .menu_items{
        display:none;
        opacity:0;
    }
}

@media screen and (max-width:2560px){
    .menu_items{
        display:none;
        opacity:0;
    }
}


.wrapper-general{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
}

.wrapper-general header{
 
    background-color: #fa0;
    height: auto;
}

.wrapper-general header .menu{
    border-bottom: 5px #000 solid;
    margin: 0 auto;
    padding: 0 15px;

}

@media (min-width:1200px){
    .wrapper-general header .menu{
        max-width: 1170px;

    }
}

.wrapper-general header .menu .navbar-nav{
    display: flex;
    flex-flow: row wrap;
}



.wrapper-general header .menu .logo{
    margin-bottom: 0;
    padding: 15px 0;
    flex: 3;
    height: 76px;

}

.wrapper-general header .menu .navbar-nav .navigation {
    -ms-flex: none;
    -webkit-flex:none;
    flex: none;
    max-width: 100%;
    height: auto;
}

.wrapper-general header .menu .navbar-nav .navigation .nav-options {
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation{
    list-style-type: none;

}

@media(min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation{
        padding-right: 10px;
    }

}

.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation >li{
    display: inline-block;

}

@media(min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation > li > a{
        padding:10px 15px;
    }

}
.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation > li > a{
    display: block;
    color:#000;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 50px;
    opacity: 0.8;
}


@media (min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation .search{
        padding:15px 5px;
        width: 200px;
        position: relative;

    }
}


.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search form{
    position: relative;

}

.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search form input{
    background-color: #262a2e;
    border-radius: 20px;
    border: 0px;
    margin-bottom: 0;
    margin-top: 12px;
    height:40px;
    display:block;
    padding:5px 15px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    color:inherit;
    font: inherit;
    outline: none;

}


.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search button{
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    padding:0;
    right: 0;
    top: 0px;
    margin-bottom: 0;
    color: aliceblue;
    border: 0;
    cursor: pointer;
    box-shadow: none;
    display:inline-block;
    border-radius: 5px;
    font-weight: 700;
    outline: none;

}

@media(mix-width:1020px){
    .wrapper-general 
    header
    .menu 
    .navbar-nav
    .nav-options
    .login-button{
        padding: 15px 5px;
    }
}

.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button{
    padding: 15px 5px;
    position: relative;
    z-index: 999999999999999999999;

}


.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button 
input[type="checkbox"]{
    display: none;
}

.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button input[type="checkbox"] + .buttonOpen-login{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: inherit;
    height: 40px;
    display: block;
    padding:5px 15px;
    line-height: 2;

}

.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button input[type="checkbox"] + .buttonOpen-login [class*="fa-"]::before{
    margin-right: 10px;

}

[class*="fa-"]::before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: inherit;
    line-height: inherit;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}



/* CONTENEDOR PRINCIPAL */



.wrapper-general .container-principal {
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
    padding-top: 20px;
    overflow: hidden;
}

.wrapper-general .container-principal .container-body{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

@media(min-width: 767px){
    .wrapper-general .container-principal .container-body{
        max-width: 765px;
    }
}

@media(min-width:1020px){
    .wrapper-general .container-principal .container-body{
        max-width: 990px;
    }
}

@media(min-width:1200px){
    .wrapper-general .container-principal .container-body{
        max-width: 1170px;
    }
}

@media(min-width:1440px){
    .wrapper-general .container-principal .container-body{
        max-width: 1170px;
    }
}


.margin-container{
    margin:-20px -10px 20px;

}

@media(min-width:767px){
    .container-body[class*="margin-container"]{
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-wrap:wrap;
    }
}

@media(min-width:767px){
    .sidebar {
        width: 320px;
    }
}

.margin-container .MC__fixed {
    -webkit-flex:none;
    -ms-flex: none;
    flex: none;
    max-width: 100%;
    padding: 20px 10px 0;
}

.wrapper-general .container-principal .container-body .sidebar a img {
    margin-bottom: 20px;
}

.wrapper-general .container-principal .container-body .search -widget-emision {
    background: #fff;
    border-radius: 3px;
}

.wrapper-general
    .container-principal
    .container-body
    .sidebar
    .widget-emision
    .title-emision{
        border-bottom: 1px solid #f3f3f3;
        color: #000;
        padding: 15px;
        position: relative;
    }

.wrapper-general
    .container-principal
    .container-body
    .sidebar
    .widget-emision
    .title-emision[class*="fa-"]::before {
        color: #ff7c00;
        position: absolute;
        height: 50px;
        line-height: 50px;
        right: 0;
        top: 0;
        font-size: 20px;
        margin-right:10px;

    }

.wrapper-general
    .container-principal
    .container-body
    .sidebar
    .widget-emision
    .animes-emision{
        padding: 15px 0;
        position: relative;
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        outline: 0;
        direction: ltr;
    }

.wrapper-general
    .container-principal
    .container-body
    .sidebar
    .widget-emision
    .animes-emision 
    ul
    > li
    a{
        display: block;
        padding: 10px 85px 10px 15px;
        position: relative;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #3b4248;
    }


.wrapper-general
    .container-principal
    .container-body
    .sidebar
    .widget-emision
    .animes-emision
    ul
    > li
    a[class*="fa-"]::before{
        margin-right: 10px;
    }

    .tv{
        background-color: #000;
        border-color: #000;
    }

    .type-anime{
        transition: all .2s;
        position: absolute;
        top:0;
        bottom: 0;
        margin: auto;
        right: 16px;
        font-size: 12px; 
        font-weight: 700;
        line-height: 16px;
        width: 60px;
        text-align: center;
        text-transform: uppercase;
        color: #fa0;
        display: inline-block;
        height: 20px;
        border-radius: 8px;
    }


@media(min-width:767px){
    .wrapper-general .container-principal .container-body main {
        -webkit-flex:1;
        -ms-flex: 1;
        flex: 1;

    }
}

.wrapper-general .container-principal .container-body main .title,
.page{
    position: relative;
    color: #3b4248;
    padding:  20px 10px 0;
}

.wrapper-general .container-principal .container-body main .fa-star{
    padding-left:55px;
}

.wrapper-general .container-principal .container-body main .fa-star::before{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 10px;
    top: 20px;
    border-radius: 20px;
    background: #ffba00;
    background: #000;
    background: -moz-linear-gradient(
        top,
        rgba(255,186,0,1)0%
        rgba(255,128,0,1) 100%
    );

    background: -webkit-linear-gradient(
        top,
        rgba(255,186,0,1)0%
        rgba(255,128,0,1) 100%
    );

    background: linear-gradient(
        to bottom,
        rgba(255,186,0,1)0%
        rgba(255,128,0,1) 100%
    );
}


.wrapper-general .container-principal .container-body main .title h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 0;
    margin-bottom: 0;
    color: #3b4248;
}

@media (min-width: 1020px){
    .wrapper-general .container-principal .container-body main .title .order {
        position: absolute;
        right:0;
        top: 10px;
    }
}

.wrapper-general .container-principal .container-body main .title .order{
    padding-top: 15px;
    font-size: 0;
}

.wrapper-general .container-principal .container-body main .title .order > a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    line-height: 30px;
    min-width: 65px;
    padding:  0 15px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.wrapper-general .container-principal .container-body main 
.title
.order > a:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.wrapper-general .container-principal .container-body main .title
.order 
> a:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.wrapper-general .container-principal .container-body main .title
.order 
> a.active{
    background-color: #ff7c00;
    position: relative;
}


.wrapper-general .container-principal .container-body main .title .order>a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #3b4248;
    line-height: 30px;
    min-width: 65px;
    padding: 0 15px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}


wrapper-general .container-principal .container-body main .title .order > a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #01bcf3;
}

.wrapper-general .container-principal .container-body main .lastEpisodios,
.wrapper-general .container-principal .container-body main .last-animes {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex:none;
    -ms-flex: none;
    flex: none;
    max-width: 100%;
}

.wrapper-general .container-principal .container-body main .lastEpisodios li,
.wrapper-general .container-principal .container-body main .last-animes li {
    width: 50%;
    padding: 20px 10px 0;
}

@media (min-width:767px){
    .wrapper-general .container-principal .container-body main .lastEpisodios li,
    .wrapper-general .container-principal .container-body main .last-animes li{
        width: 50%;
        padding: 20px 10px 0;
    }
}

@media (min-width:1020px){
    .wrapper-general .container-principal .container-body main .lastEpisodios li,
    .wrapper-general .container-principal .container-body main .last-animes li{
        width: 33.333333333%;
        padding: 20px 10px 0;
    }
    }




@media (min-width:1200px){
.wrapper-general .container-principal .container-body main .lastEpisodios li,
.wrapper-general .container-principal .container-body main .last-animes li{
    width: 25%;
    padding: 20px 10px 0;
}
}

.wrapper-general .container-principal .container-body main .lastEpisodios li a {
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: block;
    color: #fff;
}

.wrapper-general .container-principal .container-body main .lastEpisodios li a::before{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: 2px solid #ff7c00;
    z-index: 3;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    padding-left:1px ;
    margin-right: 0;
    transition:right .4s ;

}

.wrapper-general .container-principal .container-body main
.lastEpisodios
li
a
.imagen-mask{
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    display: block;

}

.wrapper-general .container-principal .container-body main
.lastEpisodios
li
a
.imagen-mask::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30%;
    background: #000;
    background: -moz-linear-gradient(
        top,
        rgba(0,0,0,1) 0%
        rgba(0,0,0,1) 100%        
        );
        background: -webkit-linear-gradient(
            top,
            rgba(0,0,0,1) 0%
            rgba(0,0,0,1) 100%   
        );
        background: -ms-linear-gradient(
            top,
            rgba(0,0,0,1) 0%
            rgba(0,0,0,1) 100%   
        );
        background: linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0%
            rgba(0,0,0,1) 100%   
        );
        z-index: 2;
        border-radius: 0 0 5px 5px ;
        opacity: 0.8;
}

.wrapper-general .container-principal .container-body main
.lastEpisodios 
li
a
.imagen-mask
img{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: 0.2s;
    transform: scale(1);

}

.wrapper-general .container-principal .container-body main
.lastEpisodios 
li:hover
a
.imagen-mask
img{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: .2s;
    transform: scale(1.12);
}

.wrapper-general
    .container-principal
    .container-body
    main
    .lastEpisodios
    li
    a
    .nCapi {
        line-height: 18px;
        background: #0b0;
        border-radius: 32px;
        padding: 0 8px;
        margin-bottom: 1px;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        left: 10px;
        bottom: 30px;
        z-index: 3;

    }

    .wrapper-general 
    .container-principal
    .container-body
    main
    .lastEpisodios
    li
    a
    .title-cap-miniatura{
        line-height: 20px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        right: 10px;
        z-index: 3;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: inherit;
    }

