.menu_items{
    display: flex;
    list-style: none;
}

.menu_items a:hover, a.active{
    background: #ff7c00;
    color: #fff;
    transition: .3s;

}

.btn_menu{
    color: #fff;
    font-size: 30px;
    z-index: 6;
    cursor: pointer;
    display: none;
}








@media screen and (max-width:425px){
    .menu_items  li a{
        font-weight: 900;
        color:#000;
        font-size: 14px;
        margin:1px  10px 1px 0;
        padding:4px 0;
    }
    .menu_items  a{
         display:inline-block;
         width:230px;
         color: #000;
         border-radius:2px;
         border: 2px solid #000;
     }
    a:hover{
        background: #000;
        color: #fff;
        transition: all 100ms;
    }

    .login-button{
        display: none;
    }
    .menu-navigation{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        display: none;
    }
    .btn_menu{
        color: #fff;
        display: inline-block;
    }
    
    .menu_items{
        position:absolute;
        z-index: 5;
        width: 104%;
        height:auto;
        left: -100%;
        padding:30px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
        transition: all .3s;
        flex-direction: column;
    }
    .menu_items{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a:hover{
        color: #fff;
        font-size:18px;
        background: #000;
    }

}


@media (min-width:100vh){
    .menu_items{
        display: none;
        opacity: 0;
    }
}

.wrapper-general{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
}

.wrapper-general header{
 
    background: #ff7d12;
    height: auto;
}

.wrapper-general header .menu{
    margin: 0 auto;
    padding:10px 20px;

}

@media (min-width:1200px){
    .wrapper-general header .menu{
        max-width: 1170px;

    }
}

.wrapper-general header .menu .navbar-nav{
    display: flex;
    flex-flow: row wrap;
}



.wrapper-general header .menu .logo{
    margin-bottom: 0;
    padding: 0;
    background: transparent;
    flex: 3;

}

.wrapper-general header .menu .navbar-nav .navigation {
    -ms-flex: none;
    -webkit-flex:none;
    flex: none;
    max-width: 100%;
    height: auto;
}

.wrapper-general header .menu .navbar-nav .navigation .nav-options {
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation{
    list-style-type: none;

}

@media(min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation{
        padding-right: 10px;
    }

}

.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation >li{
    display: inline-block;

}

@media(min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation > li > a{
        padding:10px 15px;
    }

}
.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation > li > a{
    display: block;
    color:#000;
    font-weight: 700;
    line-height: 59px;
    opacity:1;
    font-size:17px;
    padding:5px 20px;
}


@media (min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation .search{
        padding:15px 5px;
        width: 200px;
        position: relative;

    }
}


.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search form{
    position: relative;

}

.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search form input{
    background-color: #262a2e;
    border-radius: 20px;
    border: 0px;
    margin-bottom: 0;
    margin-top: 12px;
    height:40px;
    display:block;
    padding:5px 15px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    color:#fff;
    font: inherit;
    outline: none;
    

}


.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search button{
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    padding:0;
    right: 0;
    top: 0px;
    margin-bottom: 0;
    color: #000;
    border: 0;
    cursor: pointer;
    box-shadow: none;
    display:inline-block;
    border-radius: 5px;
    font-weight: 700;
    outline: none;

}

@media(mix-width:1020px){
    .wrapper-general 
    header
    .menu 
    .navbar-nav
    .nav-options
    .login-button{
        padding: 15px 5px;
    }
}

.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button{
    padding: 15px 5px;
    position: relative;
    z-index: 999999999999999999999;

}


.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button 
input[type="checkbox"]{
    display: none;
}

.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button input[type="checkbox"] + .buttonOpen-login{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: inherit;
    height: 40px;
    display: block;
    padding:5px 15px;
    line-height: 2;

}

.wrapper-general 
header
.menu 
.navbar-nav
.nav-options
.login-button input[type="checkbox"] + .buttonOpen-login [class*="fa-"]::before{
    margin-right: 10px;

}

[class*="fa-"]::before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: inherit;
    line-height: inherit;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}

@media screen and (max-width:768px){

    .menu_items  li a{
        font-weight: 600;
        color:#000;
        font-size: 14px;
        border: 1px solid #000;
        margin:1px  10px 1px 30px;
        padding:10px;
        width:200px;
    }
    .menu_items  a{
         display:inline-block;
         width:2px;
     }
    a:hover{
        background: #000;
        color: #c47005;
        border-bottom:1px solid #fff;
        transition: all 100ms;
    }

    .login-button{
        display: none;
    }
    .menu-navigation{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        display: none;
    }
    .btn_menu{
        color: #fff;
        display: inline-block;
    }
    
    .menu_items{
        position:absolute;
        z-index: 5;
        width: 104%;
        height:100%;
        left: -100%;
        padding:30px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
        transition: all .3s;
        flex-direction: column;
    }
    .menu_items{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a:hover{
        color: #fff;
        font-size:18px;
        background: #000;
    }
        .menu_items.show{
    margin-top: 33px;
    margin-left: -20px;
    width: 250px;
    height:100%;
    left: 0px;
    margin-bottom: 40px;
    position: absolute;
    border-radius: 0 0 7px 0;
    background: #ff7d12;
}



@media (min-width:100vh){
    .menu_items{
        display: none;
        opacity: 0;
    }
} 
}



@media screen and (max-width:425px){
    .menu_items  li a{
        font-weight: 600;
        color:#000;
        font-size: 14px;
        border: 1px solid #000;
        margin:1px  10px 1px 30px;
        padding:10px;
        width:200px;
    }
    .menu_items  a{
         display:inline-block;
         width:2px;
     }
    a:hover{
        background: #000;
        color: #c47005;
        border-bottom:1px solid #fff;
        transition: all 100ms;
        transform:none;
    }

    .login-button{
        display: none;
    }
    .menu-navigation{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        display: none;
    }
    .btn_menu{
        color: #fff;
        display: inline-block;
    }
    
    .menu_items{
        position:absolute;
        z-index: 5;
        width: 104%;
        height:auto;
        left: -100%;
        padding:30px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
        transition: all .3s;
        flex-direction: column;
    }
    .menu_items{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a:hover{
        color: #fff;
        font-size:18px;
        background: #000;
    }
        .menu_items.show{
    margin-top: 33px;
    margin-left: -20px;
    width: 110%;
    height:auto;
    left: 0px;
    margin-bottom: 40px;
    position: absolute;
    border-radius: 0 0 7px 0;
    background: #ff7d12;
}
.menu_items.hidden{
    left: -100%;
}


@media (min-width:100vh){
    .menu_items{
        display: none;
        opacity: 0;
    }
} 
}

@media screen and (max-width:375px){
    .menu_items  li a{
        font-weight: 600;
        color:#000;
        font-size: 14px;
        border: 1px solid #000;
        margin:1px  10px 1px 30px;
        padding:10px;
        width:200px;
    }
    .menu_items  a{
         display:inline-block;
         width:2px;
     }
    a:hover{
        background: #000;
        color: #c47005;
        border-bottom:1px solid #fff;
        transition: all 100ms;
        transform:none;
    }

    .login-button{
        display: none;
    }
    .menu-navigation{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        display: none;
    }
    .btn_menu{
        color: #fff;
        display: inline-block;
    }
    
    .menu_items{
        position:absolute;
        z-index: 5;
        width: 104%;
        height:auto;
        left: -100%;
        padding:30px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
        transition: all .3s;
        flex-direction: column;
    }
    .menu_items{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a:hover{
        color: #fff;
        font-size:18px;
        background: #000;
    }
        .menu_items.show{
    margin-top: 33px;
    margin-left: -20px;
    width: 110%;
    height:auto;
    left: 0px;
    margin-bottom: 40px;
    position: absolute;
    border-radius: 0 0 7px 0;
    background: #ff7d12;

    
}
.menu_items.hidden{
    left: -100%;
}



@media (min-width:100vh){
    .menu_items{
        display: none;
        opacity: 0;
    }
} 
}


@media (min-width:1024px){
    .menu_items{
        display:none;
    }
    .order{
        display:none;
    }
}