
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	padding: 5%;
}

.menu {
	display: flex;
}

.menu p {
	margin-right: 2rem;
	cursor: pointer;
}

.content {
	margin-top: 2rem;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}

    
.contenedor_iframe{
    display:inline-block;
    border:2px solid #fa0;
    width:800px;
    margin-top:20px;
    height: 450px;
    margin-left:px;
    margin-right:0;
    border-radius:6px;
}

.capitulo{
    width:100%;
    height:100%;
    z-index:999999;

}