*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: opean sans, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    
}



/* width */
body::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
body::-webkit-scrollbar-track {
    background-color: #333;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #ff7d12;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #c76310;
}



body{
    height: 100%;
    color: #000;
    background: #000000;
}


a{
    text-decoration: none;
    transition: all .2s linear;
    outline: none;
}

.bordes:hover{
    background: transparent;
    transform: scale(1.12);
    transition: all 300ms;
}
.bordes2:hover{
    background: #cA7005;
    transform: 300ms;
}


ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    margin: 0 ;
    padding: 0;
    list-style-type: none;
}

img{
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}




/* navegacion */

.menu_items{
    display: flex;
    list-style: none;
}

.menu_items a:hover, a.active{
    background: #ff7c00;
    color: #fff;
    transition: .3s;

}

.btn_menu{
    color: #fff;
    font-size: 30px;
    z-index: 6;
    cursor: pointer;
    display: none;
}



.menu_items.show{
    margin-top: 33px;
    margin-left: -20px;
    width: 104%;
    height:auto;
    left: 0px;
    position: absolute;
    border-radius: 0 0 7px 0;
    background: #ff7d12;
}




@media screen and (max-width:768px){
    .menu_items  li a{
        font-weight: 900;
        color:#fff;
        font-size: 14px;
        margin:1px  10px 1px 0;
        padding:4px 0;
    }
    .menu_items  a{
         display:inline-block;
         width:230px;
         border-radius:2px;
         border: 2px solid #000;
     }
    a:hover{
        transform: scale(1);
        background: transparent;
        transition: all 100ms;
    }

    .login-button{
        display: none;
    }
    .menu-navigation{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        display: none;
    }
    .btn_menu{
        color: #fff;
        display: inline-block;
    }
    
    .menu_items{
        position:absolute;
        z-index: 7;
        width: 104%;
        height:auto;
        left: -100%;
        padding:30px;
        text-align: center;
        align-items: center;
        transition: all .3s;
        flex-direction: column;
    }
    .menu_items{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a:hover{
        color: #fff;
        font-size:18px;
        transform: none;
        background: #000;
    }

}


@media (min-width:100vh){
    .menu_items{
        display: none;
        opacity: 0;
    }
}

.wrapper-general{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
}

.wrapper-general header{
 
    background:#ff7d12;
    height: auto;
}


.wrapper-general header .menu{
    margin: 0 auto;
    padding: 10px 20px;

}

@media (min-width:1200px){
    .wrapper-general header .menu{
        max-width: 1170px;

    }
}

.wrapper-general header .menu .navbar-nav{
    display: flex;
    flex-flow: row wrap;
}



.wrapper-general header .menu .logo{
    margin-bottom: 0;
    padding: 0;
    flex: 3;

}

.wrapper-general header .menu .navbar-nav .navigation {
    -ms-flex: none;
    -webkit-flex:none;
    flex: none;
    max-width: 100%;
    height: auto;
}

.wrapper-general header .menu .navbar-nav .navigation .nav-options {
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation{
    list-style-type: none;

}

@media(min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation{
        padding-right: 10px;
    }

}

.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation >li{
    display: inline-block;

}

@media(min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation > li > a{
        padding:10px 15px;
    }

}
.wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation > li > a{
    display: block;
    color:#000;
    font-weight: 700;
    line-height: 59px;
    opacity: 1;
    font-size:17px;
    padding:5px 20px;
}


@media (min-width:1020px){
    .wrapper-general header .menu .navbar-nav .navigation .nav-options .menu-navigation .search{
        padding:15px 5px;
        width: 200px;
        position: relative;

    }
}


.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search form{
    position: relative;

}

.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search form input{
    background-color: #262a2e;
    border-radius: 20px;
    border: 0px;
    margin-bottom: 0;
    margin-top: 12px;
    height:40px;
    display:block;
    padding:5px 15px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    color:inherit;
    font: inherit;
    outline: none;

}


.wrapper-general header .menu .navbar-nav .navigation .nav-options  .search button{
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    padding:0;
    right: 0;
    top: 0px;
    margin-bottom: 0;
    color: aliceblue;
    border: 0;
    cursor: pointer;
    box-shadow: none;
    display:inline-block;
    border-radius: 5px;
    font-weight: 700;
    outline: none;

}









/* CONTENEDOR PRINCIPAL */




.wrapper-general .container-principal {
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-left:0px;
    padding-right:0px;
    overflow: hidden;
}













/* capitulo */

