@media (max-width:1920px){

    
    .contenedor-list{
        padding:15px;
        display:inline-block;
        background:#fa0;
        cursor:pointer;
    }
    
    .contenedor-list:hover{
     background:#ccc;
    }

    #myDIV1{
        display: none;
    }
    #myDIV2{
        display: none;
    }


    

    .text-noticias:hover{
        color:#c4a;
        
    }

    .borde-noticias-list{
        border-bottom:1px solid #fa0;
        padding-bottom:15px;
        padding-top:0;
    }

    .aside-capitulos .noticias_animes li{
        border:2px solid #fa0;
    }

    .text-noticias{
        color:#fff;
    }
    
    
    .fecha-noticias{
        background:#fa0;
        padding:3px;
        border-radius:3px;
        font-size:12px;
        margin:-20px 0 0 10px;
        position:relative;
        
    }
    
    .imagen-noticias{
        width:80px;
        height:80px;
        margin-top:20px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:-20px;
        border-radius:10px;
    }

    .active{
        background:#ca4;
        margin:20px 5px 0 0;
        padding:1px;
    }
    
    
    .contenedor-total{
        margin:10px 250px;
        height:100%;
       
        
    }
    
    .contenedor_iframe{
        display:inline-block;
        border:2px solid #fa0;
        width:800px;
        margin-top:15px;
        height: 450px;
        margin-left:px;
        margin-right:0;
        border-radius:6px;
    }
    
    .capitulo{
        width:100%;
        height:100%;
        display:inline-block;
    
    }

    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
    }
    
    
    .siguiente{
        display:inline-block;
        color:#fff;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }


    
    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fff;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }
    
    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-1px;
        margin-left:1px;
        background:#111114;
        padding: 5px 10px 5px 10px;
    }
    
    /*Botones Ultimo cap*/

    i{
    margin:10px;
    }
    .botones-borde{
        display:inline-block;
    }

    /*Hovers*/
    
    .anterior_ult:hover{
        background: #3A3A3C;
    }

    .capitulos_ult:hover{
        background: #3A3A3C;
    }

    .anterior:hover{
        background: #3A3A3C;
    }

    .siguiente:hover{
        background: #3A3A3C;
    }

    .capitulos_pag1:hover{
        background: #3A3A3C;
    }

    .anterior_ult:hover{
        background: #3A3A3C;
    }
    

    /**/
    
    .anterior_ult{
        display:inline-block;
        color:#fff;
        font-size:25px;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }
    
    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        display:block;
    }
    
    /* Aside */
    
    .cont-aside{
        background:#000;
        float:right;
        margin-left:0px;
        margin-right:2px;
        
        
    }


 
    aside{
        margin-top:auto;
        margin-right:-25px;
        background:#111114;
        width:600px;
        height:auto;
        display:inline-block;
    }
    
    .text-aside{
        background:#111114;
        color:#fff;
        border-bottom:2px solid #69696C;
        padding:15px 4px;
    }
    
    }



@media (max-width:1440px){

    .capitulo{
        border:2px solid #fa0;
        width:809px;
        height: 500px;
        margin-top:12px;
        margin-left:175px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:180px;
        background:#000;
        margin-top:10px;
        font-weight:900;
        font-size:20px;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:180px;
        margin-bottom:100px;
        display:block;
    }

}



@media (max-width:1366px){

    .capitulo{
        border:2px solid #fa0;
        width:809px;
        height: 500px;
        margin-top:12px;
        margin-left:135px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:140px;
        background:#000;
        margin-top:10px;
        font-weight:900;
        font-size:20px;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:140px;
        margin-bottom:100px;
        display:block;
    }

}



@media (max-width:1360px){

    .capitulo{
        border:2px solid #fa0;
        width:810px;
        height: 500px;
        margin-top:12px;
        margin-left:130px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:130px;
        background:#000;
        font-size:20px;
        margin-top:10px;
        font-weight:900;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:130px;
        margin-bottom:100px;
        display:block;
    }

}



@media (max-width:1280px){

    .capitulo{
        border:2px solid #fa0;
        width:850px;
        height: 500px;
        margin-top:12px;
        margin-left:85px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:90px;
        background:#000;
        margin-top:10px;
        font-weight:900;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:80px;
        margin-bottom:100px;
        display:block;
    }

}



@media (max-width:1024px){

    .capitulo{
        border:2px solid #fa0;
        width:620px;
        height: 500px;
        margin-top:15px;
        margin-left:35px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:30px;
        background:#000;
        font-weight:900;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:25px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:30px;
        margin-bottom:100px;
        display:block;
    }

}



@media (max-width:768px){

    .capitulo{
        border:2px solid #fa0;
        width:715px;
        height: 500px;
        margin-top:15px;
        margin-left:25px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:15px;
        background:#000;
        font-weight:900;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 10px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:30px;
        margin-bottom:100px;
        display:inline-block;
    }

}


@media (max-width:425px){

    .capitulo{
        border:2px solid #fa0;
        width:398px;
        margin-top:15px;
        margin-left:15px;
        margin-right:0;
        border-radius:6px;
    }
    .active{
        margin-left:15px;
        background:#000;
        font-weight:900;
    }
    /*Botones cap1*/
    .capitulos_pag1{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-right:-2px;
        background:#111114;
        padding: 5px 5px 5px 8px;
        border-radius:20px 0 0 20px;
        
        
        
    }

    
    .siguiente{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-left:-2px;
        border-radius:0 20px 20px 0;
    }

    /*Botones cap Noramles*/
    
    .anterior{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        background:#111114;
        padding:5px 8px 5px 5px;
        margin-right:-4px;
        border-radius:20px 0 0 20px;
    }

    .capitulos{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
    }

    /*Botones Ultimo cap*/

    .anterior_ult{
               display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-right:-4px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:20px 0 0 20px;
    }

    .capitulos_ult{
        display:inline-block;
        color:#fa0;
        font-size:19px;
        margin-left:-4px ;
        background:#111114;
        padding: 5px 8px 5px 8px;
        border-radius:0 20px 20px 0;
    }
    
    .contendor_botones{
        margin-top:14px;
        margin-left:30px;
        margin-bottom:100px;
        display:inline-block;
    }

}

